.portfolio {
  min-height: 600px;
  background: #ffffff;
  text-align: center;
}

.portfolio-section h2 {
  color: #91898d;
  font-size: 2em;
  padding: 2em 0 1em;
  margin: 0;
}

.portfolio-section span {
  background: #8c868a;
  height: 1px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.portfolio-section span:nth-child(1) {
  margin-right: 10px;
}

.portfolio-section span:nth-child(2) {
  margin-left: 10px;
}

.portofolio-grids {
  display: flex;
  flex-direction: row;
}

.portofolio-col {
  width: 50%;
  padding: 20px;
}

.portfolio-img {
  width: 500px;
}

.portfolio-img-android {
  width: 191px;
  text-align: center;
  margin: auto;
}

.text-CMS {
  margin-top: 60px;
  font-size: 2vw;
}

.title {
  display: inline-block;
}

.framework-img {
  width: 50px;
}

.card {
  margin: 0 20px;
}

.mt-20 {
  margin-top: 20px;
}
